<!-- ссылка на шаблон -->

{%extends "base.html" %}

<!-- контент текущей страницы -->

{% block body%}

<!-- основная часть -->

<div class="main">
    <div class="content">
        <!-- тег форм ввода информации -->
        <form action="" method="post">
            <p>
                <label>Web-сайт:</label>
                <input type="text" name="site">
            </p>
            <p>
                <label>Пароль:</label>
                <input type="password" name="pwd">
            </p>
            <p>
                <label>Число знаков:</label>
                <input type="text" name="num" value="-">
            </p>
            <!-- "__" использование методологии BEM (block element modificator) -->
            <p class="content__button">  
                <input type="submit"> 
            </p>
            <!-- вывод результата -->
        <div class="content__output">
            {% if message %}
            <h3>{{ message }}</h3>
            {% endif %}
        </div>
        </form>
        </div>
</div>

{% endblock %}